<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
		<title>
			ComparePrice
		</title>
		<meta name="description" content="Latest updates and statistic charts">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
		<script>
          WebFont.load({
            google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
          });
		</script>
        {% load static %}
        <link href="{% static 'vendors/base/vendors.bundle.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'demo/demo5/base/style.bundle.css' %}" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="{% static 'assets/demo/demo5/media/img/logo/favicon.ico' %}" />
        <link href="{% static 'custom.css' %}" rel="stylesheet" type="text/css" />
        {% block stylesheet %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <script type="text/javascript" src="{% static 'vendors/base/vendors.bundle.js' %}"></script>
        <script type="text/javascript" src="{% static 'demo/demo5/base/scripts.bundle.js' %}"></script>
        <script type="text/javascript" src="{% static 'demo/default/custom/components/forms/widgets/select2.js' %}"></script>
        <script type="text/javascript" src="{% static 'app/js/dashboard.js' %}"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>